<!DOCTYPE html>
<html>
<head>
  <title>Welcome to Vue</title>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
</head>
<body>
  <main class="container">
    <usuarios><h1 style=" margin:20px 0 20px 0 ">Usuarios de mi startup</h1></usuarios>
  </main>


  <template id="usuarios-template">
      <div>
          <section class="columns">
            <div class="field column is-half is-offset-one-quarter">
              <slot></slot>
              <div class="control">
                <input class="input" type="search" placeholder="Filtrar usuarios" v-model="busqueda">
              </div>
            </div>
          </section>
          <hr>
          <section>
            <div class="columns is-multiline">
              <usuario :datos="usuario" v-for="usuario in filtrarUsuarios"></usuario>
            </div>
          </section>
      </div>
  </template>

  <template id="usuario-template">
      <div class="column is-3">
        <div class="card">
          <div class="card-image">
            <figure class="image is-256x256">
              <img :src="datos.foto" :alt="datos.name">
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <p class="title is-5">{{datos.nombre}}</p>
                <p class="subtitle is-6">{{datos.correo}}</p>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Phasellus nec iaculis mauris. <a href="#">@bulmaio</a>.
              <a href="#">#css</a> <a href="#">#responsive</a>
              <br>
              <small>11:09 PM - 1 Jan 2016</small>
            </div>
          </div>
        </div>
      </div>
    
  </template>

  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script> 
  <script src="main.js"></script>
  
</body>
</html>

